<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- le indica a spring los paquetes que tiene que escanear, en busca
	de clases anotadas con @Service, @Repository, etc, para instanciarlas -->
	<context:component-scan base-package="service"/>
	
	<!-- habilita el uso de anotaciones en configuración -->
	<context:annotation-config/>
	
	<!-- Indicamos a Spring que tiene que crear una instancia de su datasource -->
	<bean id="data"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3307/agenda?serverTimezone=UTC">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<!-- referencia al datasource que está en el servidor de aplicaciones -->
	<jee:jndi-lookup jndi-name="refagenda" id="data2"/>
	<bean class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="data2"></property>
	
	</bean>
</beans>
